.chart-block {
  .chart-inner {
    background-color: #fff;
    border-color: #bdbdbd;
  }
}
.chart-title-group {
  color: $text-color-highcontrast;
}
.chart-title {
  color: $text-color-highcontrast;
}
.chart-subtitle {
  color: lighten($text-color-highcontrast, 30%);
}
