.joyride-overlay {
  background-color: rgba(255,255,255,0.7) !important;
}

.__floater__body {

  button {

    &:hover {
      color: $text-color-highcontrast !important;
    }

    &[title="Next"],
    &[title="Last"] {
      padding: 12px 18px !important;
      border-radius: 25px !important;

      &:hover {
        background-color: $base-color-highcontrast !important;
        color: $text-on-base-color-highcontrast !important;
      }
    }
  }

}
