.page-banner {
  background-color: $base-color-highcontrast;
  height: inherit;
  padding: 0;
  position: relative;
  background: $list-background center left no-repeat;
  background-size: cover;

  &__title {
    padding-top: 11px;
    bottom: inherit;
    font-size: 24px;
    line-height: 1.6em;
    color: #fff;
    position: relative;
    font-family: $font-medium-highcontrast;
  }

  &__subtitle {
    padding-bottom: 13px;
    bottom: inherit;
    font-size: 15px;
    line-height: 1.6em;
    color: #fffefe;
    background: transparent;
    position: relative;
  }

  &__img {
    display: none;
  }
}
