$control-indent-highcontrast: 6px;

.wrap-control-group {
  @include clearfix;
  &.hide-indent-bottom { margin-bottom: -$control-indent-highcontrast; }
}
.control-group {
  margin-right: -$control-indent-highcontrast;
  & > * { margin-right: $control-indent-highcontrast; }
  &.right {
    margin-left: $control-indent-highcontrast;
  }
  &.left {
    margin-left: -$control-indent-highcontrast;
    margin-right: $control-indent-highcontrast;
    & > * {
      margin-left: $control-indent-highcontrast;
      margin-right: 0;
    }
  }
  &.with-indent > * { 
    margin-bottom: $control-indent-highcontrast;
    box-shadow: 0px 0px 20px -3px rgba(151, 151, 151, .75);
  }
  &.without-side-indent {
    margin-left: 0;
    margin-right: 0;
    & > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
}