$highlighterColor-highcontrast: (
  default: #ccc,
  warning: #ffbf00,
  danger: #ff2626,
  success: #00cc78
);

.highlighter {
  background-color: map-get($highlighterColor-highcontrast, 'default');
}
@each $highlighter-highcontrast, $color-highcontrast in $highlighterColor-highcontrast {
  .highlighter-#{$highlighter-highcontrast} {
    @extend .highlighter;
    background-color: $color-highcontrast;
  }
}
.highlighter-not-vital {
  @extend .highlighter;
  background-color: #dadada;
}