@each $section-highcontrast, $color-highcontrast in $colored-buttons-highcontrast {
  .label-#{$section-highcontrast} {
    background: $color-highcontrast;
    color: #ffffff;
  }
}
.label-default {
  color: $text-color-highcontrast;
}