.btn-header {
  // background: map-get($header-btn, 'bg');
  // color: map-get($header-btn, 'color');
  background: #fff;
  color: #1993EF;
  .count {
    background-color: map-get($header-btn, 'color');
    color:  map-get($header-btn, 'bg');
  }
}
.btn-header:hover,
.btn-header:focus {
  @include respond-from(md) {
    color: map-get($header-btn, 'color');
    background: #1993EF;
  }
  @include respond-to(xs) {
    color: #1993EF;
    background: #fff;
  }
  &.btn-header-prev {
    color: map-get($header-btn, 'color');
    background: #1993EF;
  }
  &.btn-home {
    color: map-get($header-btn, 'color');
    background: #1993EF;
  }
}
.is-not-touch-device {
  .btn-header {
    &:hover,
    &:focus {
      color: map-get($header-btn, 'color');
      background: #1993EF;
      @include respond-from(md) {
        color: map-get($header-btn, 'color');
        background: #1993EF;
      }
      @include respond-to(xs) {
        color: #1993EF;
        background: #fff;
      }
    }
  }
}
