.__floater__body h4:not(.tour-body-title) {
  color: $text-color-highcontrast !important;
}

.__floater__body .tour-body .link {
  color: $text-color-highcontrast !important;
}

.__floater__body button {
  color: $text-color-highcontrast !important;
}

.__floater__body button[title="Next"],
.__floater__body button[title="Last"] {
  border: 1px solid $base-color-highcontrast !important;
}
