.sidebar {
  background: #fff;
  border-right-color: $panel-border-color;
}

@include respond-from(sm) {
  .btn-toggle-sidebar {
    border: 1px solid $base-color;
    border-radius: 25px;
    margin-left: 32px;
  }
}

.btn-toggle-sidebar,
.btn-toggle-sidebar:focus {
  background: $text-on-base-color;
  color: $base-color;
}

.btn-toggle-sidebar:hover {
  background: $base-color;
  color: $text-on-base-color;
}

.sidebar-nav-item {
  border-bottom-color: #E7E7E7;
  position: relative;

  &:after {
    font-family: 'FontAwesome';
    content: '\f054';
    position: absolute;
    right: 12px;
    top: 13px;
    font-size: 11px;
    color: $text-on-base-color;
  }
}

.sidebar-nav-link,
.sidebar-nav-link:hover {
  color: $base-color;
}

.sidebar-nav-link.active,
.is-not-touch-device .sidebar-nav-link:hover,
.is-not-touch-device .sidebar-nav-link:focus {
  background-color: $base-color;
  color: $text-on-base-color;
  padding-left: 28px;

  &:before {
    font-family: FontAwesome;
    content: '\f111';
    position: absolute;
    left: 12px;
    top: 11px;
    font-size: 7px;
    color: $text-on-base-color;
  }
}
